.password-generator__main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;
}

.password-generator__output {
  background-color: transparent;
  width: 100%;
}

.password-generator__output--icon {
  max-width: 1.3rem;
  max-height: 1.3rem;
}

.password-generator__containers {
  background-color: #23232a;
  padding: 2rem;
  border-radius: 0.2rem;
}

.password-generator__first-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.password-generator__second-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.password-generator__option-container {
  display: flex;
  gap: 1rem;
}

.password-generator__button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  background-color: #a4ffaf;
  color: #23232a;
  padding: 0.7rem;
  border-radius: 0.2rem;
  border: 1px solid transparent;
}

.password-generator__button:hover {
  border: 1px solid #a4ffaf;
  background-color: #23232a;
  color: #a4ffaf;
}


